LISTAS, TUPLAS E DICION√ÅRIOS

In [ ]:
nomes = ['Rafael', 'Maria', 'Ana']
idades = [10, 20, 15]
sexo = ('M', 'F' , 'O') 
cadastro = {'nomes': nomes,
            'idades': idades,
            'cidades': ['A', 'B', 'C']}

In [3]:
nomes[1]

'Maria'

In [4]:
idades [0]

10

In [5]:
sexo [0]

'M'

In [9]:
cadastro ['nomes'][0]

'Rafael'

In [10]:
cadastro['idades']

[10, 20, 15]

In [12]:
sum (cadastro ['idades'])

45